{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info">
  	<a class="navbar-brand" href="/">About Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
    		{% for pageName in pageNames %}
    			<li class="nav-item">
        			<a class="nav-link" href="/{{pageName}}">{{pageName}}</a>
    			</li>
    		{% endfor %}
    	</ul>
    </div>
</nav>
{% endblock %}