{% extends "base.html" %}

{% block content %}

<script src = "static/js/jquery-3.4.1.min.js"></script>
<script src = "static/js/portfolioMain/map.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_AUTH}}">
</script>


<br><br><br><br>
	<div class = "container">
		<div class = "row">
			<div class = "col-xl"></div>
			<div class = "col-xl-10">
					<div class = "jumbotron">
						<h1 class = "text-center">Map of the Last 100 Connections</h1>
						<div id = "map" height = "100px"></div>
					</div>
			</div>
			<div class = "col-xl"></div>
		</div>

		<br>

		<div class = "row">
			<div class = "col-xl"></div>
			<div class = "col-xl-10">
				<div class = "jumbotron">
					<h2 class = "text-center">How it Works</h2>
				</div>

			</div>
			<div class = "col-xl"></div>
		</div>
		

	</div>
	
	
{% endblock %}