{% extends "base.html" %}

{% block content %}

<script src = "static/js/jquery-3.4.1.min.js"></script>
<script src = "static/js/portfolioMain/map.js"></script>
<script id = "map-api" async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_AUTH}}">
</script>



	<div class = "container">
		<div class = "row">
			<div class = "col-xl"></div>
			<div class = "col-xl-10">
					<div class = "jumbotron">
						<h1 class = "text-center">Map of the Last 100 Connections</h1>
						<hr>
						<div id = "map" height = "100px"></div>

						<h3 class = "text-center">	
							<a target = "_" href="https://github.com/jordanphillips23/JordanPhillipsPortfolio/tree/master/portfolio/portfolioMain/static/js/portfolioMain"> See Code on Github </a>
						</h3>
					</div>
			</div>
			<div class = "col-xl"></div>
		</div>

		

	</div>
	
	
{% endblock %}